@model UserRegisterModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@* <select asp-for="OrgId" asp-items="ViewBag.OrgList"></select> *@

<form asp-controller="User" asp-action="Register">
    <div class="mb-3">
        <label for="UserName" class="form-label">姓名</label>
        <input class="form-control" asp-for="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Account" class="form-label">帳號</label>
        <input asp-for="Account" class="form-control" aria-describedby="emailHelp">
        <span asp-validation-for="Account" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">密碼</label>
        <input class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="BirthDay" class="form-label">生日</label>
        <input class="form-control" asp-for="BirthDay">
        <span asp-validation-for="BirthDay" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>